.padiOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: none;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
}
.padiOverlay:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: '';
}
.padiOverlay > * {
  -webkit-transform: translateZ(0px);
}
.padiPop4Wrap,
.padiOverlay:after {
  vertical-align: middle;
}
.padiPop4Wrap {
  visibility: visible;
  z-index: 1602;
  position: relative;
  display: inline-block;
  text-align: left;
  background: #ffffff;
  width: 100%;
  height: 100%;
  overflow: none;
  -webkit-overflow-scrolling: touch;
}
.padiPop4Overlay {
  background: #0054ae;
  background: -moz-radial-gradient(80% 80%, ellipse cover, #00c2fd 0%, #0054ae 100%);
  background: -webkit-gradient(radial, 80% 80%, 0px, center center, 100%, color-stop(0%, #00c2fd), color-stop(100%, #0054ae));
  background: -webkit-radial-gradient(80% 80%, ellipse cover, #00c2fd 0%, #0054ae 100%);
  background: -o-radial-gradient(80% 80%, ellipse cover, #00c2fd 0%, #0054ae 100%);
  background: -ms-radial-gradient(80% 80%, ellipse cover, #00c2fd 0%, #0054ae 100%);
  background: radial-gradient(80% 80%, ellipse at center, #00c2fd 0%, #0054ae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c2fd', endColorstr='#0054ae', GradientType=1);
  height: 100%;
  /* === CLOSE === */
  /* === TEXT FIELDS === */
  /* === THE FORM FIELDS === */
  /* === MESSAGES === */
}
.padiPop4Overlay .padiPopupContent {
  height: 100%;
  position: relative;
}
.padiPop4Overlay .padiContent {
  background: url("../images/padiact-velop-mob-bg.jpg") no-repeat scroll center 355px;
  font-family: "GalaxiePolaris-Medium", Arial, sans-serif;
  font-size: 14px;
  color: #FFF;
  height: 100%;
  padding: 0.01em 15px 0.2em;
}
.padiPop4Overlay .padiContent label {
  font-weight: normal;
}
.padiPop4Overlay .padiContent .padiPrivacy {
  font-size: 9px;
  bottom: 10px;
  position: absolute;
}
.padiPop4Overlay .padiContent > span {
  display: inline-block;
  width: auto;
  padding-bottom: 0;
}
.padiPop4Overlay .padiClose {
  font-family: "GalaxiePolaris-Light", Arial, Sans-serif;
  background: url('../images/padiact-close-blue.gif') center no-repeat;
  padding: 10px;
  margin: 10px;
  display: block;
  float: right;
  font-size: 26px;
  font-weight: lighter;
  line-height: 17px;
  color: #FFF;
  text-shadow: none;
  text-decoration: none !important;
  background-color: white;
  border: none;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
}
.padiPop4Overlay .padiClose:hover {
  opacity: 0.9;
  filter: alpha(opacity=40);
}
.padiPop4Overlay .padiTitle {
  font-family: "GalaxiePolaris-Heavy", Arial, sans-serif;
  font-size: 26px;
  color: #FFF;
  margin-top: 30px;
  margin-bottom: 7px;
}
.padiPop4Overlay form {
  position: relative;
  padding-top: 15px;
  margin: 0;
  display: block;
}
.padiPop4Overlay .padiLabel {
  margin-bottom: 0px;
}
.padiPop4Overlay .padiLabel input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.padiPop4Overlay .padiCheckTerms {
  display: none;
}
.padiPop4Overlay .padiButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
  box-shadow: inset 0px 1px 0px 0px #fce2c1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffe600), color-stop(1, #faa741));
  background: -moz-linear-gradient(center top, #ffe600 5%, #faa741 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe600', endColorstr='#faa741');
  background-color: #ffe600;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-indent: 0;
  border: 1px solid #ffe07a;
  display: inline-block;
  color: #000000;
  font-family: "GalaxiePolaris-Bold", Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  white-space: nowrap;
}
.padiPop4Overlay .padiButton:hover {
  border-color: #ffe07a;
  color: #FFFFFF;
}
.padiPop4Overlay .padiThanks {
  background: url("../images/padiact-velop-mob-bg.jpg") no-repeat scroll center 355px;
  color: #fff;
  display: block;
  font-family: GalaxiePolaris-Heavy, Arial, sans-serif;
  font-size: 24px;
  height: 100%;
  padding: 2.8em 15px 0.2em;
  vertical-align: top;
  width: 100%;
}
.padiPreload {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: inherit;
  padding: 3px;
}
.padiPop4Wrap {
  height: 100%;
  width: 100%;
}
@media only screen and (min-width: 640px) {
  /* min-width 641px */
  .padiPop4Overlay .padiContent {
    background: url('../images/padiact-velop-bg.jpg') right bottom no-repeat;
    padding: 0.01em 40px 0.2em;
  }
  .padiPop4Overlay .padiContent > span {
    padding-bottom: 10px;
    width: 339px;
  }
  .padiPop4Overlay .padiContent .padiTitle {
    margin-top: 136px;
  }
  .padiPop4Overlay .padiClose {
    background: url('../images/padiact-close-white.gif') center no-repeat;
    background-color: #0068D9;
  }
  .padiPop4Overlay .padiThanks {
    background: url("../images/padiact-velop-bg.jpg") no-repeat scroll right bottom;
    padding: 6.8em 40px 0.2em;
  }
  .padiPop4Wrap {
    max-width: 842px;
    max-height: 498px;
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Safari, Opera */
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .padiPop4Overlay .padiLabel {
    width: 330px;
    color: white;
  }
}
