html {
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #9d9d9d;
}

a:hover {
  opacity: 0.8;
}

.menu-items, .menu-items>ul, .mainTitle, .titleText, .full-width, .half-width, .pullquote {
  display: flex;
}

.content {
  width: 100%;
  position: relative;
  z-index: 1;
  background: #fff;
  top: 80vh;
}

.mainTitle {
  width: 100%;
  height: 80vh;
  margin-bottom: 1rem;
  background: url(../imgs/bg.png) no-repeat center;
  flex-direction: column;
  align-items: flex-start;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  position: fixed;
}

  #home {
    -moz-animation-name: brightness;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 3s;

    -webkit-animation-name: brightness;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 3s;

    animation-name: brightness;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 3s;
  }

.menu-items {
  width: 100%;
  justify-content: flex-start;
}

.menu-items>ul {
  list-style-type: none;
  flex-direction: row;
  margin: 0;
  padding: 1rem 1rem;
}

.menu-items li {
  padding: 0 1rem;
}

.menu-items a {
  color: #fff;
}

.titleText {
  padding-top: 18vh;
  padding-left: 20%;
  flex-direction: column;
  align-items: flex-end;
}

.titleText>h1 {
  color: #fff;
  font-size: 7rem;
  font-weight: 100;
}

.titleText>h3 {
  color: #e88b3f;
  font-size: 2rem;
  font-weight: 400;
}

.body {
  width: 50%;
  padding: 1rem;
  padding-left: 20%;
  font-weight: 300;
}

  .subHeadline {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2rem;
  }

  .text {
    padding: 1rem .4rem;
    font-size: 1.2rem;
    font-weight: lighter;
  }

.highlight>.text {
  font-style: italic;
  color: #6f6f6f;
  padding: 1rem .2rem;
}

.imageBox {
  width: 100%;
}

.imageBox img {
  width: 100%;
}


.full-width {
  width: 100%;
}

.pullquote {
 width:100%;
 justify-content: flex-end;
 color: #ebb081;
}

.pullquote>h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  padding: 1rem;
  margin-right: 1rem;
  border-top: .3vh solid #ebb081;
}

.half-width {
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.bw>img, .mapBox {
  filter: grayscale(100%);
  -webkit-transition: filter linear 0.1s;
  -moz-transition: filter linear 0.1s;
  -o-transition: filter linear 0.1s;
  transition: filter linear 0.1s;
}

.bw>img:hover, .mapBox:hover {
  filter: grayscale(0%);
}

.caption {
  padding-top: 0.2rem;
  font-size: 1rem;
  font-style: italic;
  color: #656565;
}

#back-to-top {
  background: #c1c1c1;
}

/*=======ANIMATIONS FOR MAIN TITLE======*/

@-moz-keyframes brightness {
    0% {
        filter: brightness(10%);
    }
    100% {
        filter: brightness(100%);
    }
}
@-webkit-keyframes brightness {
  0% {
      filter: brightness(10%);
  }
  100% {
      filter: brightness(100%);
  }
}
@keyframes brightness {
  0% {
      filter: brightness(10%);
  }
  100% {
      filter: brightness(100%);
  }
}

/*=========MAP STYLING========*/
/*============================*/

.mapBox {
  width: 100%;
  background-color: #eeeeee;
  padding-bottom: 1rem;
}

.map {
  width: 80%;
  padding: 1rem;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapTitle {
  margin: 0;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

.sliderBox {
  width: 40%;
}

.mapImage {
  width: 50%;
}

.mapImage>img {
  width: 100%;
}

#year {
  padding-top: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

#description {
  height: 5rem;
  font-family: 'Lato',sans-serif;  font-weight: 300;
  padding: 0;
  width: 80%;
  text-align: center;
}

//SLIDER STYLING

input[type=range].slider {
  outline: none;
  -webkit-appearance: none;
  width: 100%;
  margin: 11.25px 0;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: .5vh;
  cursor: pointer;
  background: #737070;
  border-radius: 25px;
}
input[type=range].slider::-webkit-slider-thumb {
  height: 26px;
  width: 12px;
  border-radius: 24px;
  background: #e87e04;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.25px;
}
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 11.25px 0;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 3.5px;
  cursor: pointer;
  background: #737070;
  border-radius: 25px;
}
input::-moz-focus-inner {
  border: 0;
}
input:focus {
  outline: none;
  box-shadow: none;
}
input[type='range']::-moz-focus-outer {
  border: 0;
}
input[type=range].slider::-moz-range-thumb {
  height: 26px;
  width: 12px;
  border-radius: 24px;
  background: #e87e04;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 3.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  border-radius: 50px;
}
input[type=range].slider::-ms-fill-upper {
  border-radius: 50px;
}
input[type=range].slider::-ms-thumb {
  height: 26px;
  width: 12px;
  border-radius: 24px;
  background: #e87e04;
  cursor: pointer;
  height: 3.5px;
}

@media screen and (orientation: portrait) {
  .mainTitle {
    height: 40vh;
    align-items: center;
  }

  .menu-items a {
    font-size: 2rem;
  }

    .titleText {
      padding-top: 5vh;
      padding-left: 0;
    }

    .titleText>h1 {
      font-size: 7rem;
      font-weight: 300;
    }

    .titleText>h3 {
      font-size: 3rem;
    }

  .content {
    top: 35vh;
  }

  .body {
    width: 90%;
    padding-left: 5%;
  }

  .subHeadline {
    font-size: 4rem;
  }

  .text {
    font-size: 2.5rem;
  }

  .pullquote>h1 {
    font-size: 3.5rem;
  }

  .full-width {
    flex-direction: column;
  }

    .half-width {
      width: 100%;
    }

    .half-width, .half-width>img {
      padding: 0;
      margin: 0;
    }

  .caption {
    visibility: collapse;
    height: 0;
  }

  .mapBox {
    width: 100%;
    filter: grayscale(0);
  }

  .mapTitle {
    font-size: 3rem;
    text-align: center;
  }

  .mapImage {
    width: 80%;
  }

  .sliderBox {
    width: 80%;
  }

  #description {
    visibility: hidden;
    height: 0;
  }

}
